﻿
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>BrokertoBroker.com - @ViewBag.Title</title>
    @Styles.Render("~/Content/allstyles")

    @Scripts.Render("~/bundles/allscripts")
    <script src="https://js.stripe.com/v3/"></script>
</head>
<body class="k-content">
    @Html.Partial("_Banner")
    <main>
        @Html.Partial("_HMenu")
        <div class="container" id="mainContainer">
            <div class="row">
                <div class="col-lg-4" style="padding: 0px;">
                    @RenderSection("navigation", required: false)
                </div>
                <div class="col-lg-8 borderLeft" style="padding-top: 15px;">
                    @RenderBody()
                </div>
            </div>
        </div>
    </main>
    @Html.Partial("_Footer")
</body>
</html>