﻿<footer class="text-center d-flex align-items-center">
    <div class="container pb-0" id="footerContainer" style=" border-bottom: solid 16px #0B1D4B;">
        <hr />
        <p>Copyright &copy; @DateTime.Now.Year BrokerToBroker. All Rights Reserved.</p>
    </div>
</footer>
