﻿@(Html.Kendo().Menu()
    .Name("SubNav")
    .Orientation(MenuOrientation.Vertical)
    .Items(items =>
    {
        items.Add().Text("Process in a Nutshell").Action("Index", "Process");
        items.Add().Text("How the Broker Prepares").Action("HowToPrepare", "Process");
        items.Add().Text("How the Branch Prepares").Action("HowBranchPrepares", "Process");
    }))

<p align="center">
    <img src="../../Images/gears.jpg">
</p>
<p align="center">
    <a href="@Url.Action("Contact", "Home")"><img src="../../Images/contactnow.gif" width="210" height="62" border="0"></a>
</p>