﻿@(Html.Kendo().Menu()
        .Name("SubNav")
    .HighlightPath(true)
        .Orientation(MenuOrientation.Vertical)
        .Items(items =>
        {
            items.Add().Text("Overview").Action("Overview", "Services");
            items.Add().Text("Basic Projects").Action("Index", "Services");
            items.Add().Text("Announcement Services").Action("AnnouncementServices", "Services");
            items.Add().Text("Special Projects").Action("SpecialProjects", "Services");
            items.Add().Text("Pricing").Action("Pricing", "Services");
        }))

<p align="center">
    <img src="../../Images/document.jpg">
</p>
<p align="center"><a href="@Url.Action("Contact", "Home")"><img src="../../Images/contactnow.gif" width="210" height="62" border="0"></a></p>