﻿@model dynamic

@section navigation
{
    
    <br/>
    <p align="center"><a href="@Url.Action("Contact", "Home")"><img src="../../Images/contactnow.gif" width="210" height="62" border="0"></a></p>

}

<p>
    <a href="#howconfid" class="greenlink2">How confidential is the information provided to Broker-To-Broker?</a>
</p>
<p>
    <a href="#accclientrec" class="greenlink2">What is an acceptable "client record"?</a>
</p>
<p>
    <a href="#canbe" class="greenlink2">Can Broker-To-Broker handle the preparation of mailings we want to have overnighted or hand-delivered to specific clients?</a>
</p>
<p>
    <a href="#doesbe" class="greenlink2">Does Broker-To-Broker prepare a separate envelope for each account, or do you group related accounts?</a>
</p>
<p>
    <a href="#canbroker" class="greenlink2">Can Broker-To-Broker handle broker/dealer changes for Mutual Funds and Annuities held outside the brokerage firm?</a>
</p>
<p>
    <a href="#cani" class="greenlink2">Can I get a list of the accounts that Broker-To-Broker processes?</a>
</p>
<p>
    <a href="#howdoes" class="greenlink2">How does Broker-To-Broker handle accounts that may need special attention?</a>
</p>
<p>
    <a href="#whatare" class="greenlink2">What are some of the typical problems you encounter in the coordination of projects?</a>
</p>
<hr>
<p>
    <em class="style3mini">
        <strong><a name="howconfid" id="howconfid"></a>How confidential is the information provided to Broker To Broker?</strong>
    </em><br>
    <br>
    We treat all information with complete confidentiality. In accordance with privacy standards, we use the information you entrust to us solely for the purpose of handling your project. We will never sell or otherwise transfer client information to another party for any reason whatsoever. Upon completion of each project, all client records are returned, and shortly thereafter electronic files are deleted.
</p>
<p align="right">
    <a href="#top">Back to top</a>
</p>
<hr>
<div>
    <strong class="style3mini">
        <em><a name="accclientrec" id="accclientrec"></a>What is an acceptable "client record"?</em>
    </strong><br>
    <br>
    Your legal/compliance department will define the information that may be used in the preparation of client mailings. As for the physical layout, we will accept a wide variety of formats—from paper printouts to spreadsheets. Please contact us if you need to discuss the compilation of data.
</div>
<p align="right">
    <a href="#top">Back to top</a>
</p>
<hr>
<p>
    <strong class="style3mini">
        <em><a name="canbe" id="canbe"></a>Can Broker to Broker handle the preparation of mailings we want to have overnighted or hand-delivered to specific clients?</em>
    </strong><br>
    <br>
    Absolutely. For overnight deliveries, simply indicate by writing on the client record which accounts/households are to be sent via overnight carrier and we will prepare overnight packages, ready for pick-up by your carrier. We have airbill and packaging materials on hand, so you don’t need to send them to us. There is an area on the order form to indicate how these are to be handled.<br>
    <br>
    Remember that overnight carriers cannot deliver to PO Box or General Delivery addresses. You may provide these addresses to us up front, or we will hold them aside as exception items for addressing when the project is returned.<br>
    <br>
    You may also indicate those mailings that will be hand-delivered. We will bundle these in a separate group for your convenience.
</p>
<p align="right">
    <a href="#top">Back to top</a>
</p>
<hr>
<p>
    <strong class="style3mini">
        <em><a name="doesbe" id="doesbe"></a>Does Broker to Broker prepare a separate envelope for each account, or do you group related accounts?</em>
    </strong><br>
    <br>
    We will perform "householding" of accounts, so that each client will receive only one mailing containing all related accounts. Unless otherwise instructed, we assume that any clients with the same last name and the same address can be mailed together.
</p>
<p>The broker may also customize the householding of records (by clipping records together in groups) prior to sending them to us, and we will follow that arrangement.</p>
<p align="right">
    <a href="#top">Back to top</a>
</p>
<hr>
<p>
    <strong class="style3mini">
        <em><a name="canbroker" id="canbroker"></a>Can Broker to Broker handle broker/dealer changes for Mutual Funds and Annuities held outside the brokerage firm?</em>
    </strong><br>
    <br>
    Yes we can. Simply provide us with information about those products and we will process those products. You may also opt to have us prepare account paperwork, so that you can open brokerage accounts in which to network these products.
</p>
<p align="right">
    <a href="#top">Back to top</a>
</p>
<hr>
<p>
    <strong class="style3mini">
        <em><a name="cani" id="cani"></a>Can I get a list of the accounts that Broker To Broker processes?</em>
    </strong><br>
    <br>
    We offer three standard "wrap-up" tools that may be very useful to the broker and/or the branch office staff.<br>
</p>
<ol>
    <li>The <strong>Follow-Up Report</strong> is an alphabetical listing of all accounts we have processed. It presents the account title and mailing address and has areas to record the old and new account numbers and client follow-up comments. Brokers find this a very useful tool for tracking the return of client paperwork.</li>
    <li>The <strong>Client Data CD </strong> includes the data file of client names and address along with the cover letter that was used for the mailings. This can be used to do future letters of any type by simply updating the text of the letter.</li>
    <li><strong>File Folder Labels </strong>give the broker or operations staff a head start on making office file folders for each client account. They contain the account title and a space for writing in the new firm’s account number.</li>
</ol>
<p align="right">
    <a href="#top">Back to top</a>
</p>
<hr>
<p>
    <strong class="style3mini">
        <em><a name="howdoes" id="howdoes"></a>How does Broker to Broker handle accounts that may need special attention?</em>
    </strong><br>
    <br>
    Most projects contain some accounts or households that we feel should be reviewed by either the broker or branch personnel before sending them to the client. When the project is returned, these accounts are held aside as Exception Items. Each Exception Item has a note attached, explaining why we feel it requires some special attention. Some common Exception issues are:
</p>
<ul>
    <li>Foreign mailing addresses that require special postage</li>
    <li>Questionable account titles</li>
    <li>Undeterminable account documentation. This is especially true for business accounts where the organizational structure is not readily identifiable (e.g., partnerships, sole proprietorships). We cannot make assumptions about documentation for these types of accounts, so we hold them as Exception Items so that the appropriate paperwork can be added before mailing.</li>
    <li>Additional documentation required (e.g., estate accounts)</li>
    <li>Retirement Plan accounts (401k, Profit Sharing Plans, Money Purchase Plans, etc.). Unless self-trusted, these accounts may require different paperwork for plan administrators and plan participants. From the information given, we are rarely able to make this distinction, so we hold these aside for inclusion of the appropriate paperwork at the branch.</li>
</ul>
<p>
    <br>
    You may choose to immediately address only the critical items (for example, mailing address issues) and leave the others for resolution at a later time. We feel responsible to bring these items to your attention; you may resolve them at your discretion.
</p>
<p align="right">
    <a href="#top">Back to top</a>
</p>
<hr>
<p>
    <strong class="style3mini">
        <em><a name="whatare" id="whatare"></a>What are some of the typical problems you encounter in the coordination of projects?</em>
    </strong><br>
    <br>
    The two situations we encounter that have the greatest impact on our ability to manage a project are 1) being misinformed about the size of the project (i.e., projects being much larger than scheduled) and 2) not receiving materials in a timely manner (either the project not being received on the agreed date or project materials not received in a timely manner).
</p>
<p align="right">
    <a href="#top">Back to top</a>
</p>