﻿<style>
    .payment.b2bPmt * {
        font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
        font-size: 16px;
        font-weight: 400;
    }

    #b2bPmt-paymentRequest {
        max-width: 500px;
        width: 100%;
        margin-bottom: 10px;
    }

    .payment.b2bPmt fieldset {
        padding: 15px;
        border-radius: 6px;
    }

        .payment.b2bPmt fieldset legend {
            margin: 0 auto;
            padding: 0 10px;
            text-align: center;
            font-size: 14px;
            font-weight: 500;
        }

            .payment.b2bPmt fieldset legend + * {
                clear: both;
            }

    .payment.b2bPmt .card-only {
        display: block;
    }

    .payment.b2bPmt .payment-request-available {
        display: none;
    }

    .payment.b2bPmt .row {
        display: -ms-flexbox;
        display: flex;
        margin: 0 0 10px;
    }

    .k-maskedtextbox {
        border-radius: 0.25rem;
        border-color: #ced4da;
        margin: 0;
        padding: 0;
        width: 12.4em;
        height: calc(1.5em + 0.75rem + 2px);
        border-width: 1px;
        border-style: solid;
        outline: 0;
        font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
        font-size: 1rem;
        line-height: 1.5;
        box-sizing: border-box;
        box-shadow: none;
        background: none;
        display: -ms-inline-flexbox;
        display: inline-flex;
        -ms-flex-flow: row nowrap;
        flex-flow: row nowrap;
        -ms-flex-align: center;
        align-items: center;
        vertical-align: middle;
        position: relative;
        -webkit-appearance: none;
    }

    .payment.b2bPmt .field {
        position: relative;
        width: 100%;
    }

        .payment.b2bPmt .field + .field {
            margin-left: 10px;
        }

    .payment.b2bPmt label {
        width: 100%;
        font-size: 13px;
        font-weight: 500;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }

    .payment.b2bPmt .input {
        width: 100%;
        background: transparent;
        padding: 0px 0 0px 0;
    }

        .payment.b2bPmt .input.StripeElement--focus,
        .payment.b2bPmt .input:focus {
            border-color: #fff;
        }

    .payment.b2bPmt input:-webkit-autofill,
    .payment.b2bPmt select:-webkit-autofill {
        -webkit-text-fill-color: #fce883;
        transition: background-color 100000000s;
        -webkit-animation: 1ms void-animation-out;
    }

    .payment.b2bPmt .StripeElement--webkit-autofill {
        background: transparent !important;
    }

    .payment.b2bPmt input,
    .payment.b2bPmt button,
    .payment.b2bPmt select {
        -webkit-animation: 1ms void-animation-out;
        -webkit-appearance: none;
        -moz-appearance: none;
        outline: none;
        border-style: none;
        border-radius: 0;
    }

        .payment.b2bPmt select.input,
        .payment.b2bPmt select:-webkit-autofill {
            background-position: 100%;
            background-size: 10px 5px;
            background-repeat: no-repeat;
            overflow: hidden;
            text-overflow: ellipsis;
            padding-right: 20px;
        }

    .payment.b2bPmt button {
        display: block;
        width: 100%;
        height: 40px;
        margin: 20px 0 0;
        border-radius: 6px;
        font-weight: 500;
        cursor: pointer;
    }
</style>

@section navigation {
    <br/>
    <div class="container">
        <p>
            Instructions for Submitting a payment
        </p>
        <p align="center"><a href="@Url.Action("Contact", "Home")"><img src="../../Images/contactnow.gif" width="210" height="62" border="0"></a></p>
    </div>

}



<div class="cell payment b2bPmt" id="b2bPmtForm">
    <div id="card-errors"></div>
    <form id="payment-form" class="container">
        <div class="row">
            <div class="field col-sm">
                <label for="CardName" data-tid="elements_payments.form.name_label">Cardholder Name</label>
                <input id="CardName" data-tid="elements_payments.form.name_placeholder" class="input" type="text" required="" maxlength="150" autocomplete="name">
            </div>
        </div>
        <div class="row">
            <div class="field col-sm">
                <label for="EmailAddress" data-tid="elements_payments.form.email_label">Contact Email</label>
                <input id="EmailAddress" data-tid="elements_payments.form.email_placeholder" class="input" type="text" maxlength="100" required="" autocomplete="email">
            </div>
            <div class="field col-sm">
                <label for="PhoneNbr" data-tid="elements_payments.form.phone_label">Contact Phone</label>
                <input id="PhoneNbr" data-tid="elements_payments.form.phone_placeholder" class="input" type="text" required="" autocomplete="tel">
            </div>
        </div>
        <div class="row">
            <div class="field col-sm">
                <label for="InvoiceNbr" data-tid="elements_payments.form.invoice_label">Invoice Number</label>
                <input id="InvoiceNbr" data-tid="elements_payments.form.invoice_placeholder" class="input" type="text" maxlength="10" required="">
            </div>
            <div class="field col-sm">
                <label for="InvoiceAmount" data-tid="elements_payments.form.amount_label">Invoice Amount</label>
                <input id="InvoiceAmount" data-tid="elements_payments.form.amount_placeholder" class="input" type="text" required="">
            </div>
        </div>
        <div class="row col-sm">
            <div class="field">
                <label for="b2bPmt-card" data-tid="elements_payments.form.card_label">Card</label>
                <div id="b2bPmt-card" class="input"></div>
            </div>
        </div>
        <div class="row col-sm">
        <button id="submit">Pay</button>
        </div>
    </form>
</div>

<script>

    function displayLoading(target) {
        var element = $(target);
        kendo.ui.progress(element, true);
        //setTimeout(function () {
        //    kendo.ui.progress(element, false);
        //}, 2000);
    }

    // Create an instance of the Stripe object with your publishable API key
    $(document).ready(function() {
        // create Curerncy NumericTextBox from input HTML element

        

        $("#CardName").kendoTextBox();
        $("#EmailAddress").kendoTextBox();
        $("#PhoneNbr").kendoMaskedTextBox({
            mask: "(999) 000-0000"
        });

        $("#InvoiceNbr").kendoTextBox();
        $("#InvoiceAmount").kendoNumericTextBox({
            format: "c",
            min: 0,
            decimals: 2
        });
    });


    var stripe = Stripe('pk_test_51I3SLbJ5dhyDX5izrDecKEwXwKtoPvNzIkYVIVh7Gnv68yiSmNjn09oetp0ZXUo143oL8rUV2YBWhwPNm8Wg1C7R00I0ewq7rQ');
    var elements = stripe.elements();
    var form = document.getElementById("payment-form");

    var card = elements.create("card",
        {
            iconStyle: "solid",
            style: {
                base: {
                    fontWeight: 400,
                    fontFamily: "Helvetica Neue, Helvetica, Arial, sans-serif",
                    fontSize: "16px",
                    fontSmoothing: "antialiased",
                    "::placeholder": {
                    },
                    ":-webkit-autofill": {
                    }
                },
                invalid: {
                    iconColor: "#FFC7EE",
                    color: "#FFC7EE"
                }
            }
        });
    card.mount("#b2bPmt-card");

    registerElements([card], "b2bPmt");

    function registerElements(elements, paymentName) {
        var formClass = '.' + paymentName;
        var payment = document.querySelector(formClass);

        var form = payment.querySelector('form');
        var resetButton = payment.querySelector('a.reset');
        var error = form.querySelector('.error');


        function enableInputs() {
            Array.prototype.forEach.call(
                form.querySelectorAll(
                    "input[type='text'], input[type='email'], input[type='tel']"
                ),
                function (input) {
                    input.removeAttribute('disabled');
                }
            );
        }
    }

    card.on('change',
        function (event) {
            var displayError = document.getElementById('card-errors');
            if (event.error) {
                displayError.textContent = event.error.message;
            } else {
                displayError.textContent = '';
            }
        });


    form.addEventListener('submit',
        function (ev) {
            ev.preventDefault();
            //get the intent
            displayLoading("#b2bPmtForm");
            $.ajax({
                type: "POST",
                url: "/Home/Secret",
                dataType: "json",
                data: JSON.stringify({
                    email: $("#EmailAddress").val(),
                    amount: $("#InvoiceAmount").val(),
                    invoiceNbr: $("#InvoiceNbr").val()
                }),
                contentType: "application/json; charset=utf-8",
                success: function (e) {
                    var clientSecret = e.ClientSecret;
                    stripe.confirmCardPayment(clientSecret,
                        {
                            payment_method: {
                                card: card,
                                billing_details: {
                                    email: $("#EmailAddress").val(),
                                    name: $("#CardName").val(),
                                    phone: $("#PhoneNbr").val()
                                }
                            }
                        }).then(function (result) {
                        if (result.error) {
                            window.location.assign("/Home/PaymentError");
                        } else {
                            // The payment has been processed!
                            if (result.paymentIntent.status === 'succeeded') {
                                window.location.assign("/Home/PaymentSuccess");
                            }
                        }
                    });

                }
            });
        });
</script>