﻿@model dynamic


@section navigation {
    @Html.Partial("_ProcessMenu")
}


<p>
    The success and ease of a project lie in good planning and coordination. The best way to ensure your project goes smoothly is to provide us with complete and accurate information, and get materials shipped to us as scheduled. <br>
</p>

<ol class="processList">
    <li>
        Contact Broker To Broker to schedule a project.<br />
        <table cellspacing="0" cellpadding="4" border="0">
            <tbody>
                <tr>
                    <td width="30" valign="top" align="center">&nbsp;</td>
                    <td colspan="2" valign="top" align="left">
                        Provide the following information:<br>
                        <table cellspacing="0" cellpadding="4" border="0">
                            <tbody>
                                <tr>
                                    <td width="30" valign="top" align="center">&nbsp;</td>
                                    <td colspan="2">the exact number of accounts (brokerage accounts, plus outside mutual funds and outside annuities)</td>
                                </tr>
                                <tr>
                                    <td width="30" valign="top" align="center">&nbsp;</td>
                                    <td colspan="2">the date you will get the project materials to Broker To Broker</td>
                                </tr>
                                <tr>
                                    <td width="30" valign="top" align="center">&nbsp;</td>
                                    <td colspan="2">the date you need the project mailed to your clients or back in your office</td>
                                </tr>
                                <tr>
                                    <td width="30" valign="top" height="45" align="center">&nbsp;</td>
                                    <td colspan="2" height="45" align="left">the type of service you wish to employ (Basic, Basic Plus, etc.)</td>
                                </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>
                <tr valign="top">
                    <td width="30" valign="top" align="center">&nbsp;</td>
                    <td colspan="2" valign="top" align="left">We will send to you a Project Contract. This form also serves as a blueprint for how you want us to handle your project.</td>
                </tr>
            </tbody>
        </table>
    </li>
    <li>
        Ensure the Broker’s Client Information has been prepared <br>
        (see <a href="@Url.Action("HowToPrepare", "Process")" target="_top">How the Broker Prepares for a Project</a>).<br>
        <table cellspacing="0" cellpadding="4" border="0">
            <tbody>
            <tr valign="top">
                <td width="30" valign="top" align="center">&nbsp;</td>
                <td colspan="2" valign="top" align="left">In addition to brokerage account information, be sure information for "outside" Mutual Funds and Annuities has been included, if applicable.</td>
            </tr>
            <tr>
                <td width="30" valign="top" align="center">&nbsp;</td>
                <td colspan="2" valign="top" align="left">Check to see if the broker wants customized letter salutations (e.g., "Dear Jim and Peggy") and has noted them directly on the records given to us. Unless otherwise noted, "Mr. and Mrs.", "Dr.", etc. are used.</td>
            </tr>
            <tr>
                <td width="30" valign="top" align="center">&nbsp;</td>
                <td colspan="2" valign="top" align="left">Make sure the records have been alphabetized to facilitate "householding" of clients. </td>
            </tr>
            </tbody>
        </table>
    </li>
    <li>
        Prepare a prototype Cover Letter for the mailings.<br>
        <table cellspacing="0" cellpadding="4" border="0">
            <tbody>
            <tr valign="top">
                <td width="30" valign="top" align="center">&nbsp;</td>
                <td colspan="2" valign="top" align="left">Decide on an appropriate date for the letter, or you may choose to leave the letter undated for flexibility.</td>
            </tr>
            <tr>
                <td width="30" valign="top" align="center">&nbsp;</td>
                <td colspan="2" valign="top" align="left">If the letter has not been pre-approved internally, please do so before forwarding it to us to avoid delays during the project.</td>
            </tr>
            <tr>
                <td width="30" valign="top" align="center">&nbsp;</td>
                <td colspan="2" valign="top" align="left">
                    If applicable, see that the sender of the letter (Broker or Branch Manager) has provided a signature sample for scanning into the cover letter. <br>
                </td>
            </tr>
            </tbody>
        </table>
    </li>
    <li>Complete all areas of the Project Contract and return it to us. Work cannot begin on your project until this form is fully completed and received.</li>
    <li>
        Gather the required project materials for shipping to Broker to Broker. Refer to the Project Contract for a specific materials list.
        <table cellspacing="0" cellpadding="4" border="0">
            <tbody>
            <tr valign="top">
                <td width="30" valign="top" align="center">&nbsp;</td>
                <td colspan="2" valign="top" align="left">Client information</td>
            </tr>
            <tr>
                <td width="30" valign="top" align="center">&nbsp;</td>
                <td colspan="2" valign="top" align="left">Mailing Supplies (letterhead, envelopes, etc.)</td>
            </tr>
            <tr>
                <td width="30" valign="top" align="center">&nbsp;</td>
                <td colspan="2" valign="top" align="left">Cover Letter and Signature Samples (if signature scan is desired)</td>
            </tr>
            <tr>
                <td width="30" valign="top" align="center">&nbsp;</td>
                <td colspan="2" valign="top" align="left">Forms (ACATs plus other forms that you wish to include for client accounts). This step may not be necessary for clients who utilize electronic ("PDF") forms.</td>
            </tr>
            <tr>
                <td width="30" valign="top" align="center">&nbsp;</td>
                <td colspan="2" valign="top" align="left">Business cards for the broker, if available.</td>
            </tr>
            <tr>
                <td width="30" valign="top" align="center">&nbsp;</td>
                <td colspan="2" valign="top" align="left">Promotional inserts you wish to include</td>
            </tr>
            </tbody>
        </table>
    </li>
    <li>Ship the project materials to Broker To Broker via your regular overnight carrier. Please be sure to package the materials securely to avoid damage in transit.</li>

</ol>

<p>
    <strong>
        <em>Please call us if your project or shipping plans change, so that we can "reschedule" the project appropriately.</em>
    </strong>
</p>