﻿@model dynamic

@section navigation {
    @Html.Partial("_ProcessMenu")
}

<div>
    <ol class="processList">

        <li>
            A Branch Coordinator discusses the process with the recruit to determine the following:
            <table width="400" cellspacing="0" cellpadding="4" border="0">

                <tbody>
                <tr valign="top">

                    <td width="30" valign="top" align="center">&nbsp;</td>

                    <td colspan="2" valign="top" align="left">
                        <font size="2" >
                            The type of Project desired (Basic or
                            Basic Plus)
                        </font>
                    </td>
                </tr>

                <tr valign="top">

                    <td width="30" valign="top" align="center">&nbsp;</td>

                    <td colspan="2" valign="top" align="left">
                        <font size="2" >
                            The number of client accounts that will
                            be involved in the transfer (this is the total of brokerage accounts
                            <u>plus</u> outside mutual funds and outside annuities, if
                            applicable)
                        </font>
                    </td>
                </tr>

                <tr>

                    <td width="30" valign="top" align="center">&nbsp;</td>

                    <td colspan="2" valign="top" align="left">
                        <font size="2" >
                            The date that the account information
                            and project materials will be sent to Broker-To-Broker
                        </font>
                    </td>
                </tr>

                <tr>

                    <td width="30" valign="top" align="center">&nbsp;</td>

                    <td colspan="2" valign="top" align="left">
                        <font size="2" >
                            The desired project return
                            date
                        </font>
                    </td>
                </tr>
                </tbody>
            </table>
        </li>


        <li>
            The
            Branch Coordinator contacts Broker-To-Broker with the above information
            to formally schedule the project. We will send an order form to the
            Coordinator. This order form acts as our contract and also
            a&nbsp;blueprint for how the project will be handled, and it must be
            filled out and sent along with the project materials before any
            processing can begin.
        </li>

        <li>
            On the agreed-upon date, the Branch
            Coordinator sends the necessary materials to Broker-To-Broker via email or overnight
            delivery.
        </li>
        <li>
            We process the project as prescribed.
            This includes preparing the necessary forms and highlighting areas for
            completion and/or client signatures. We assemble the mailings by household, so
            that each client will receive only one envelope that includes paperwork for all
            the accounts of that client.
        </li>
        <li>
            On the agreed-upon date, we deliver the packages directly to your client through USPS mail or overnight carrier, or we overnight the completed project to the desired branch recipient. If the project is sent back to the branch first, the assembled mailings (stuffed, but unsealed) are securely boxed and in alphabetical order for easy identification. Ideally, all that remains is to seal the envelopes, affix the required postage and drop them in the mail.</font>
        </li>
    </ol>
    <p>The process itself is fairly simple. And, the more we are allowed to do during our process, the less there is for the branch or broker to do on the back end.</p>
    <p>The success and ease of a project lie in good planning. The best way to ensure your project goes smoothly is to provide us with complete and accurate information and get materials shipped to us as scheduled.</p>


</div>