﻿@section navigation {
    @Html.Partial("_ServicesMenu")
}

<p>The needs of our clients are the foundation of our service types, and those needs can vary widely. Each project will be customized to satisfy individual requests and make the best possible presentation to the client.</p>
<p> <strong class="style3mini">Basic Projects</strong> are designed to get the most critical paperwork, account transfer (or "ACAT") forms, into your clients’ hands as quickly as possible. Other account opening paperwork can be handled through the normal in-house operational channels or prepared by us as a separate mailing for later distribution. For each client household, the Basic mailing typically includes:</p>
<ul>
    <li>A personalized announcement letter to the client</li>
    <li>A Client Profile Sheet</li>
    <li>ACAT form for each brokerage account within the household</li>
    <li>W9s</li>
    <li>A customized, addressed mailing envelope</li>
    <li>A business reply envelope for returning the signed ACAT forms to the branch office</li>
</ul>
<p>
    <strong class="style3mini">Basic Plus Projects</strong> include all of the above, plus whatever other account opening paperwork (IRA Applications, Margin Agreements, etc.) is desired.<br>
    <br>
    <strong class="style3mini">Broker/Dealer change authorizations</strong> for investments held outside the brokerage firm (annuities, mutual funds, etc.) can be included in either project type.
</p>